/* .col2{
background-color: aqua;
color: #f4ecec;
}

.col1{
background-color: palevioletred;
color: #f7f5f5;
}

.Nestedcol2{
    background-color: rgb(59, 59, 146);
    color: #fbf7f7;

}

.Nestedcol1{
    background-color: rgb(90, 212, 171);
    color: #f9f6f6;
}


.col1{
    background-color: plum;
} */


